@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
:root {
  --color-primary: #7EAB1E;
  --color-green: #A9DC3C;
  --monospace: Roboto Mono, Consolas, Menlo, monospace;
}
*,*::before,*::after {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input,
button,
select,
optgroup,
textarea,
html body {
  font-family: 'Poppins', system-ui, YuGothic, sans-serif;
}
.ohohoh-bg {
  background-image: url(./assets/ohohoh_bg.png);
  transition: all 0.2s;
  background-repeat: repeat;
  width: 100%;
  min-height: 100vh;
}

.userDisplay_wrapper {
  position: fixed;
  display: flex;
  background-color: red;
  width: 352px;
  height: 98px;
  top: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background: linear-gradient(
    180deg,
    #9bcf2d 0%,
    var(--color-primary) 50.52%,
    var(--color-primary) 100%
  )
}

.ant-layout {
  background: none;
}

.ant-table-row {
  cursor: pointer;
}
